@model IEnumerable<RegistrationAdvisory.Models.PreReqModel>

@{
    ViewBag.Title = "Student PreRequisite";
}

<h2>@ViewBag.Title</h2>


<h4>You have: @ViewBag.preReqCount Pre-requistes</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.preReqId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preReqName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.preReqId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preReqName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit)
        </td>
       
    </tr>
}

</table>
<hr/>
@if (RegistrationAdvisory.Models.UserSession.STUDENTINSUMMARY != "")
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    using (Html.BeginForm("Panel", "Adviser", FormMethod.Post))
    {
        @*resubmit student id being view by admin to enable navigation back to summary page*@
        <input type="text" value="@RegistrationAdvisory.Models.UserSession.STUDENTINSUMMARY" hidden name="id" />
        <input type="submit" value="Back to Summary Page" class="btn btn-link" />
    }

}
